/*----------------------------- Generelt -----------------------------*/ 
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.app {
    background-color: #E7E7E7;
}

/*"Fade reveal" effekt på citat sektion*/
.fadeReveal {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out;
  }  

/* -------------------------- Navigationsbar -------------------------- */
.navigationsbar > div {
    display: flex;
    justify-content: right;
    padding-top: 5px;
}

/*Teksten i navigationsbaren*/
.navigationsbar > div > :nth-child(1) {
    padding-right: 10px;
    list-style-type: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #2D3F5E;
    transition: color 0.4s ease-in-out;
}

/*Gør at navigationsbaren "sidder fast" i midten af højre side.*/
.navigationsbar {
    position: fixed;
    right: 0;
    top: 40%;
    padding-right: 20px;
  }
  

/*Farveskift på navigationsbaren når den når ned til "bølgen"*/
  .navigationsbar.has-scrolled-to-wave > div > :nth-child(1) {
    color: #FAA900;
  }

  .navigationsbar.has-scrolled-to-wave #Line_4 {
    stroke: #FAA900;
    transition: stroke 0.4s ease-in-out;
  }

/*Logo*/
.logo {
    width: 150px;
    padding: 25px 25px 25px 25px;
    -webkit-animation:spin 6s linear infinite;
    -moz-animation:spin 6s linear infinite;
    animation:spin 6s linear infinite;
}

/*Animation der får logo til at rotere 360 grader*/
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

/*----------------------------- Forside -----------------------------*/

.heroSektion {
    width: 40%;
    margin: auto;
    text-align: center;
}

.bølge {
    width: 100%;
    padding-top: 150px;
    display: block;
}

/*Hoppende pil*/
.pil {
    position:absolute;
    bottom:5px;
    left: 48%;
    animation: bounce 2s infinite;
}
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
}


/*Baggrundsfarve og bredde på mainsektionen (tidslinjen)*/
.mainSektion {
    background-color: #2D3F5E;
}

.mainSektion > div {
    width: 65%;
}

/*Centrering af citat i midten af skærm*/
.citat {
    margin: auto;
    text-align: center;
    margin-top: 16%;
    margin-bottom: 25%;
}

.citat > h4 {
    font-size: 25px;
    width: 90%;
    margin: auto;
    padding-top: 30px;
}

/*Placering af tidslinjen*/
.tidslinje {
    margin-left: 15%;
    margin-top: 200px;
}

/*Placering af "løsningskort" under sektionen "Vi har løsningen"*/
.løsning {
    display: flex;
    width: 60%;
    margin-left: 15%;
}

/*Design af kort*/
.kort {
    background-color:#E7E7E7;
    margin: 0px 15px;
    width: 250px;
    color: #2D3F5E;
    padding: 30px 20px 30px 20px;
}

.kort > .link > img{
    padding-bottom: 30px;
}

/*Design af skriften på "kortene"*/
.link {
    text-decoration: none;
    color: #2D3F5E;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Placering af sektionen "Vores kunder"*/
.voresKunder {
    margin-left: 15%;
    margin-top: 225px;
}

.kunder {
    max-width: 70%;
    margin-top: 50px;
}

/*Placering af "Kontakt os"-sektion*/
#kontaktOs {
    margin-left: 15%;
}

/*Styling af pop up element efter tryk på "send besked"*/
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    z-index: 1;
  }

/*Styling af "ok" knap ved pop-up besked*/
.okKnap {
    padding: 10px;
    margin-left: 30px;
    background-color: #E7E7E7;
    border: none;
    color: #2D3F5E;
}

/*Design, størrelse og placring af input-felter i kontakt os formular*/
.inputFelt {
    width: 400px;
    height: 40px;
    background-color: #E7E7E7;
    border: solid;
    border-color: #2D3F5E;
}

.tekstFelt {
    height: 150px;
}

.marginTop {
    margin-top: 50px;
}


/*----------------------------- UNDERSIDER -----------------------------*/ 

/*Alle undersider bruger samme classes og har samme design*/

/*Herosektionen på undersider*/
.undersideHeroSektion {
    display: flex;
    width: 70%;
    margin-left: 10%;
}

.undersideHeroSektion > div {
    padding-left: 40px;
    width:90%;
}

/*Placering af animation i herosektionen på undersider*/
.undersideHeroSektion > video {
    width: 70%;
}

/*Venstrestilling af sektion*/
.venstrestillet {
    margin-top: 200px;
    margin-left: 10%;
    width: 40%;
}

.venstrestillet > p {
    margin-top: 30px; 
}

/*Placering af sektionen om "Vores arbejdsmetode" på undersider*/
.voresArbejdsmetode {
    margin-left: 10%;
    margin-top: 150px;
    width:70%;
}

/*Placering af "tidslinjen" til "Vores arbejdsmetode"*/
.horisontalTidslinje > div{
    display: flex;
}

.horisontalTidslinje > div > img {
    width: 150px;
    padding: 10px 15px 10px 15px;
}

.horisontalTidslinje > div > p {
    width: 150px;
    padding: 10px 15px 10px 15px;
    word-break: inherit;
}

.voresArbejdsmetode > svg {
    margin-top: 75px;
    width: 100%;
}

.voresArbejdsmetode > .knap {
    margin-left: 35%;
    margin-top: 70px;
}

/*Styling af "Kontakt os og få et tilbud"-knap på undersider*/
.knap {
    background-color: #FAA900;
    border: #2D3F5E;
    border-style: solid;
    padding: 12px 40px 12px 40px;
    margin-top: 20px;
    width: 200px;
}

/*----------------------------- FOOTER -----------------------------*/ 

/*Styling af footer*/
.footer {
    background-color: #2D3F5E;
    display: block;
}

footer > :nth-child(2) {
    display: flex;
    align-items:center;
    padding: 30px 0px 30px 0px;
    justify-content: space-around;
}

.textAlignRight {
    text-align: right;
}

.textAlignRight > h4:last-child:hover {
    cursor: pointer;
}

/*----------------------------- Skrifttyper -----------------------------*/ 

h1 {
    color: #2D3F5E;
    padding: 30px 0px 25px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    min-width:fit-content;
    font-size: 95px;
}

h2, .tidslinjeOverskrift {
    font-size: 6vw;
    fill: #FAA900;
    color: #FAA900;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h3 {
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
    color: #2D3F5E;
}

.footer > div > p, .footer > div > a, h4 {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
    color: #FAA900;
    padding-top: 15px;
}

h5 {
    font-size: 3vw;
    color: #2D3F5E;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

p, label {
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
    color: #2D3F5E;
    line-height: 2;
}

.tidslinjeBeskrivelse {
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
    fill: #E7E7E7;
    line-height: 2;
}

.mindreFont {
    font-size:4.5vw;
}